.booking-modal-container {
    .booking-modal-content {
        height: 440px;
        display: flex;
        flex-direction: column;
        .booking-modal-header {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            .left {
                font-size: 16px;
                font-weight: 600;
                color: #666;
            }
            .right {
                float: right;
                cursor: pointer;
            }
        }
        .booking-modal-body {
            height: 100%;
            padding: 10px;
        }
        .booking-modal-footer {
            padding: 10px;
            border-top: 1px solid #ccc;
            display: flex;
            justify-content: flex-end;
            gap: 15px;
            button {
                border: none;
                outline: none;
                padding: 5px 15px;
                font-size: 14px;
                border-radius: 3px;
            }
            .btn-booking-cancel {
                background-color: rgb(242, 64, 44);
            }
            .btn-booking-confirm {
                background-color: rgb(26, 135, 231);
            }
        }
    }
}
