.detail-clinic-container {
    padding: 0 100px;
    background: rgb(248, 244, 244);
    min-height: 100vh;
    .description-clinic {
        padding: 20px 0;
        .name-clinic {
            font-size: 20px;
            text-transform: capitalize;
            color: rgb(16, 118, 234);
            font-weight: 600;
        }
        h1,
        h2,
        h3 {
            font-size: 16px;
            color: rgb(26, 25, 25);
            font-weight: 600;
        }
    }
    .each-doctor {
        display: flex;
        width: 100%;
        min-height: 300px;
        margin-top: 20px;
        padding: 20px 30px;
        box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        background: white;
        gap: 20px;
        .content-left {
            border-right: 1px solid #ddd;
            width: 50%;
            .profile-doctor-container {
                border-bottom: none;
                .content {
                    box-shadow: none !important;
                }
            }
        }
        .content-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            .doctor-shedule {
                .doctor-schedule-container {
                    border-right: none;
                }
            }
            .doctor-extra-infor {
                border-top: 1px solid #ddd;
                padding-top: 10px;

                .doctor-extra-infor-container {
                    padding-left: 0 !important;
                }
            }
        }
    }
}
